.item {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c0c0c0;
}

.avatar {
  margin: 0 20px 0 0;
  padding: 0;
}

.avatar img {
  width: 50px;
  border-radius: 100%;
}

.message {
  flex: 1;
}

.like {
  background: lightgreen;
  padding: 10px 20px;
}