html,
body {
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav profile"
    "footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 2fr 10fr;
}

img {
    max-width: 100%;
}

.app-wrapper-content {
    grid-area: profile;
    background: #ccc;
    padding: 20px;
    position: relative;
}

h1 {
    margin-top: 0;
}

textarea {
    margin-bottom: 10px;
}

button {
    background: goldenrod;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.04rem;
}
